<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Localization.plist
   TravelManager

   Created by Marcin Marynowski on 11/06/2019.
   Copyright (c) 2019 Marcin Marynowski. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
